@font-face {
  font-family: "LightFont";
  src: url(./assets/fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: "SemiBoldFont";
  src: url(./assets/fonts/SourceSansPro-SemiBold.ttf);
}
@font-face {
  font-family: "BoldFont";
  src: url(./assets/fonts/SourceSansPro-Bold.ttf);
}
@font-face {
  font-family: "ExtraLightFont";
  src: url(./assets/fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face {
  font-family: "LightItalicFont";
  src: url(./assets/fonts/SourceSansPro-LightItalic.ttf);
}
