ol,
ul {
  list-style: none;
}

textarea {
  resize: none;
}
.clickable {
  cursor: pointer;
}
html {
  height: 100%;
}

body {
  background-image: linear-gradient(
    180deg,
    rgba(103, 82, 123, 1) 40%,
    rgb(197, 187, 224) 100%
  );
  background-repeat: no-repeat;
}
