/* Important styles */
.bodyGradient{
  background-image: linear-gradient(grey, lavender);
  
}
nav{
  overflow: hidden;
  position: relative;
}
#Menu{
  position: relative;
  text-align: center;
}
/*---HERO---*/
#hero{
  position: relative;
  height: 100vh;
}
#textPresentation{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  animation: opacity 4s ease-in;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}




.info{
  float: left;
  list-style: none;
  margin: 20px 0 20px 0;
}

.menuList{
  float: right;
}

.menuList, li, li a {
  list-style: none;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  color: white;
}

.slider {
  left: 0;
  width: 0%;
  transition: width .4s;
}

.menuList li a:hover > .slider {
  width: 100%;
  border: 1px solid black;
}


@keyframes opacity {
  0% {
    transform: opacity(0);
    transform-origin: 100% 100% 100% 100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100% 100% 100%;
    transform: opacity(1);
  }
}
@font-face {
    font-family: 'LightFont';
    src: url(/Fonts/SourceSansPro-Light.ttf);
  }
#textHero{
  margin: 30px 30px;
  font-size:60px;
  font-family: 'LightFont';
}

.seeMore{
  border: 1px solid black;
  border-radius: 25px;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  animation: opacity 5s ease-in;
  background-color: transparent;
}

/*Hamburguer Icon*/
@media only screen and (max-width: 550px){
  .text{
    font-size: 5vw;
  }
  /*toggle*/
  #toggle {
    position: absolute;
    right: 0;
    width: 28px;
    height: 30px;
    margin: 30px 30px 10px;
    display: none;
    float: right;
    z-index: 2;
    display: flex;
  }
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
    transition: ease-out 0.3s;
  }
  #toggle span:after + #menu{
    top: 9px;
    transition: opacity 0.4s;
  }
  #toggle span {
    position: relative;
    display: block;
  }
  #toggle span,
  #toggle span:after,
  #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    transition: all 0.4s;
  }

  /* menu appearance*/
  .Menu {
    padding-top: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background-image: linear-gradient(purple, lavender);
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    z-index: 1;
  }
  .menuList{
      text-align: center;
      margin: auto 30% ;
      display: inline-block;
  }
  .menuList li a:hover > .slider {
    width: 100%;
    border: 1px solid black;
  }
}

/*--RECTANGLE--*/
#rectangle{
  height: 100vh;
  position: relative;
}
.rectangleTitle{
  margin: 0 auto;
  width: 10%;
  border-bottom: 1px solid black;
  padding: 10px 6px 8px 5px;
  font-size: 2.5vw;
  text-align: center;
}
.division1{
  float: left;
}

.centerDivision1{
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.imgCTT{
  max-width: 100%;
  height: auto;
}

.text{
  transform: translateY(50%);
}

.textContainer {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  width: 45%;
  bottom: 8px;
  text-align: center;
  height: auto;
}

.buttons{
  margin-top: 25px; 
}

.linkExterno, .popUp{
  position: relative;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;  
}
.division1{
  width: 50%;
  height: 92%;
}
.division2{
  float: right;
  width: 50%;
  height: 92%;
}
.centerDivision2{
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
.title{
  font-size: 35px;
  margin-bottom: 10px;
}
.subTitle{
  margin-bottom: 10px;
  font-size: 25px;
}

@media only screen and (max-width: 1100px) {
  .division1{
    width: 100%;
    height: 48%;
  }
  .division2{
    width: 100%;
    height: 48%;
  }
}

  /*Slideshow*/
.imgSlide {
  vertical-align: middle; 
  float: right;
  width:50%;
  padding: 8px 12px 70px;
  max-width: 100%;
  height: auto;
}

#overlay, .slideshow-container {
  position: absolute;
  display: none;
  left: 0;
  right: 0; 
}
#overlay{
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  height: 250%;
  top: 0;
  bottom: 0;
}
.mySlides{
  display: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* Slideshow container */
.slideshow-container {
  transform: translateY(15%);
  max-width: 80%;
  position: absolute;
  margin: auto;
  border: 1px solid black;
  border-radius: 25px;
  display: none;
  background-color: white;
  z-index: 3;
  height: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 92%;
  width: auto;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev{
  left: 47%
}
.next {
  right: 47%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.textContainer {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  width: 45%;
  bottom: 8px;
  text-align: center;
  height: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}


/*ABOUT*/    
.overflow{
  overflow: hidden;
  height: 75%;
  border-top: 1px solid black;
  width: 100%;
}

.about{
  display: none;
  position: relative;
  /*top: 100%;*/
  /*opacity: 0;*/
  height: 100%;
}

.aboutCenter{
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
  .aboutTitle{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    text-align: center;
    max-width: 7%;
    border-bottom: 1px solid black;
    padding: 10px 6px 8px 5px;
    font-size: 50px;
  }
  .aboutSubtitle{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
  }
  .aboutText{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    line-height: 1.5;
  }
  .specialSkills{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 32px;
  }
  .icons{
    width: 140px;
    border-radius: 10px;
    text-align: center;
    margin: 30px;
  }
  @media only screen and (min-width:0px) and (max-width:320px){
    .overflow{
      height: 100%;
    }
    .aboutCenter{
      max-width: 90%;
    }
    .icons{
      width: 45px;
      margin: 10px;
    }
    .aboutTitle{
      font-size: 20px;
      max-width: 20%;
    }
    .aboutSubtitle{
      font-size:15px;
    }
    .aboutText{
      font-size:14px;
    }
    .specialSkills{
    font-size:15px;
    }
  }
  
  @media only screen and (min-width:321px) and (max-width:410px){
    .overflow{
      height: 100%;
    }
    .aboutCenter{
      max-width: 90%;
    }
    .aboutTitle{
      font-size: 26px;
      max-width: 23%;
    }
    .aboutSubtitle{
      font-size:17px;
    }
    .aboutText{
      font-size:16px;
    }
    .specialSkills{
      font-size:17px;
      }
    .icons{
      width: 55px;
      margin: 10px;
    }
  }
  @media only screen and (min-width:411px) and (max-width:492px){
    .overflow{
      height: 100%;
    }
    .aboutCenter{
      max-width: 90%;
    }
    .aboutTitle{
      font-size: 29px;
      max-width: 22%;
    }
    .aboutSubtitle{
      font-size:18px;
    }
    .aboutText{
      font-size:17px;
    }
    .specialSkills{
      font-size:17px;
      }
    .icons{
      width: 62px;
      margin: 12px;
    }
  }
  @media only screen and (min-width:493px) and (max-width:700px){
    .overflow{
      height: 100%;
    }
    .aboutCenter{
      max-width: 90%;
    }
    .aboutTitle{
      font-size: 30px;
      max-width: 23%;
    }
    .aboutSubtitle{
      font-size:19px;
    }
    .aboutText{
      font-size:18px;
    }
    .specialSkills{
      font-size:23px;
      }
    .icons{
      width: 75px;
      margin: 12px;
    }
  }
  @media only screen and (width:375px) and (height:812px){
    .overflow{
      height: 80%;
    }
  }
  @media only screen and (width:411px) and (height:823px){
    .overflow{
      height: 80%;
    }


  }
  /*FOOTER*/
  .footer{
    background-color: darkgrey;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .letsWork{
    margin: 0;
    padding: 30px;
    font-size: 4vw;
    font-size: 3vh;
  }
  .fa-envelope, .fa-phone-alt{
    font-size: 4vw;
    font-size: 3vh;
    margin: 20px;
    vertical-align: middle;
  }
  .email,.phone{
    display: inline-block;
    vertical-align: middle;
    font-size: 4vw;
    font-size: 3vh;
    vertical-align: middle;
  }

 /* .overflow:hover > #about{
    top: 0;
  }*/
/* demo styles */
body { margin:0px; padding: 0px; }
/*p, p a { font-size: 12px;text-align: center; color: #888; }