/* Important styles */
html {
  scroll-behavior: smooth;
}
.bodyGradient{
  background-image: linear-gradient(180deg, rgba(103,82,123,1) 40%, rgb(197, 187, 224) 100%);
}
@font-face {
  font-family: 'LightFont';
  src: url(/Fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: 'SemiBoldFont';
  src: url(/Fonts/SourceSansPro-SemiBold.ttf);
}
@font-face{
  font-family: 'BoldFont';
  src: url(/Fonts/SourceSansPro-Bold.ttf);
}
@font-face{
  font-family: 'ExtraLightFont';
  src: url(/Fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face{
  font-family: 'LightItalicFont';
  src: url(/Fonts/SourceSansPro-LightItalic.ttf);
}
nav{
  overflow: hidden;
  position: relative;
}
#Menu{
  position: relative;
  text-align: center;
}
/*---HERO---*/
#hero{
  position: relative;
  height: 100vh;
}
.hero-textPresentation{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  animation: opacity 4s ease-in;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.hero-textPresentation-text{
  margin: 30px 30px;
  font-family: 'ExtraLightFont';
  color: white;
  letter-spacing: 1px;
}

.hero-name{
  float: left;
  list-style: none;
  margin: 20px 0 20px 0;
  font-family: 'LightFont';

}
#name{
  letter-spacing: 4px;
}
.hero--nav--menu-menuList{
  float: right;
}

.hero--nav--menu-menuList, li, li a {
  list-style: none;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  margin: 10px;
  color: white;
  font-family: 'Lightfont';
  letter-spacing: 4px;
}

.hero--nav--menu--menuList-slider {
  left: 0;
  width: 0%;
  transition: width .4s;
}



@keyframes opacity {
  0% {
    transform: opacity(0);
    transform-origin: 100% 100% 100% 100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100% 100% 100%;
    transform: opacity(1);
  }
}


.hero--textPresentation-btn{
  border: 1px solid rgba(225,214,255,1);
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'LightFont';
  color: rgba(225,214,255,1);
  padding: 10px 40px 10px 40px;
  animation: opacity 5s ease-in;
  background-color: transparent;
}

/*Hamburguer Icon*/
@media only screen and  (min-width: 0px) and (max-width: 768px){
  
  /*toggle*/
  #toggle {
    position: absolute;
    right: 0;
    width: 28px;
    height: 30px;
    margin: 30px 30px 10px;
    /*display: none;*/
    float: right;
    z-index: 2;
    display: flex;
  }
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    
    
  }
  #toggle span:before{
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
    transition: ease-out 0.3s;
  }
  /*#toggle span:after + #menu{
    top: 9px;
    transition: opacity 0.4s;
  }*/
  #toggle span {
    position: relative;
    display: block;
  }
  #toggle span,
  #toggle span:after,
  #toggle span:before {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }

  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
    transition: all .5s;
  }
  
  /* menu appearance*/
  .hero--nav-menu {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'SemiBoldFont';
    text-align: center;
    border-radius: 4px;
    background-image: linear-gradient(180deg, rgba(103,82,123,1) 40%, rgba(225,214,255,1) 100%);
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    z-index: 1;
  }
  
  
}
@media only screen and (min-width: 0) and (max-width: 480px){
  .hero-textPresentation-text{
    font-size: 30px;
    line-height: 1.5;
    margin: 30px 40px;
  }
  #name{
    margin: 0;
    font-size: 20px;
  }
  .hero--textPresentation-btn{
    font-size: 20px;
  }
  .hero--nav--menu-menuList{
    text-align: center;
    margin: auto 22% ;
    display: inline-block;
  }
  .hero--nav--menu-menuList, li a{
    font-size: 25px;
    font-family: 'SemiBoldFont';
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
  .hero-textPresentation-text{
    font-size: 40px;
    line-height: 1.5;
  }
  #name{
    margin: 0;
    font-size: 22px;
  }
  .hero--textPresentation-btn{
    font-size: 25px;
  }
  .hero--nav--menu-menuList{
    text-align: center;
    margin: auto 30% ;
    display: inline-block;
  }
  
  .hero--nav--menu-menuList, li a{
    font-size: 30px;
    font-family: 'SemiBoldFont';
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
  .hero-textPresentation-text{
    font-size: 45px;
    line-height: 1.5;
    margin: 30px 40px;
  }
  #name{
    font-size: 24px;
    letter-spacing: 3px;
  }
  .hero--textPresentation-btn{
    font-size: 30px;
  }
  .hero--nav--menu-menuList{
    margin-top: 15px;
  }
  
  .hero--nav--menu-menuList, li a{
    font-size: 24px;
    letter-spacing: 3px;
  }
  .hero--nav--menu-menuList, li, li a {
    margin: 10px 5px 10px 5px;
  }
  .hero--nav--menu-menuList li a:hover > .hero--nav--menu--menuList-slider {
    width: 100%;
    border: 1px solid white;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px){
  .hero-textPresentation-text{
    font-size: 55px;
    line-height: 1.5;
    margin: 30px 40px;
  }
  #name{
    font-size: 28px;
  }
  .hero--textPresentation-btn{
    font-size: 35px;
  }
  .hero--nav--menu-menuList, li a{
    font-size: 28px;
  }
  .hero--nav--menu-menuList li a:hover > .hero--nav--menu--menuList-slider {
    width: 100%;
    border: 1px solid white;
  }
}
@media only screen and (min-width: 1281px){
  .hero-textPresentation-text{
    font-size: 55px;
    line-height: 1.5;
    margin: 30px 100px;
  }
  #name{
    font-size: 32px;
   
  }
  .hero--textPresentation-btn{
    font-size: 37px;
  }
  .hero--nav--menu-menuList, li a{
    font-size: 32px;
    
  }
  .hero--nav--menu-menuList li a:hover > .hero--nav--menu--menuList-slider {
    width: 100%;
    border: 1px solid white;
  }
}

/*--Portfolio--*/
.portfolio{
  height: 100vh;
  position: relative;
}
.portfolio-title{
  margin: 0 auto;
  color: white;
  font-family: 'SemiBoldFont';
  text-align: center;
  width: max-content;
  border-bottom: 1px solid white;
  letter-spacing: 5px;
  padding-top: 10px;
}
.portfolio--container-left{
  float: left;
}

.portfolio--container--left-center{
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.portfolio--container--left--center--picture-img{
  max-width: 100%;
  height: auto;
  box-shadow: 0 3px 5px gray;
  border-radius: 15px;
}

.portfolio--container--right--slideshow--slides--text--container-paragraph{
  transform: translateY(50%);
}

.portfolio--container--right--slideshow--slides--text-container {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  width: 45%;
  bottom: 8px;
  text-align: center;
  height: auto;
}

.portfolio--container--right--center-buttons{
  margin-top: 25px; 
}

.portfolio--container--right--center--buttons-website, .portfolio--container--right--center--buttons-caseStudy{
  font-family: 'LightFont';
  position: relative;
  border-radius: 25px;
  text-decoration: none;
}
.portfolio--container--right--center--buttons-website{
  border: 1px solid rgb(197, 187, 224);
  color: rgb(197, 187, 224);
}
.portfolio--container--right--center--buttons-caseStudy{
  border: 1px solid #303044;
  color:#303044
}
.portfolio--container-left{
  width: 50%;
  height: 92%;
}
.portfolio--container-right{
  float: right;
  width: 50%;
  height: 92%;
}
.portfolio--container--right-center{
  max-width: 95%;
  margin: 0 auto;
  text-align: left;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
.portfolio--container--right--center-title{
  font-size: 35px;
  margin-bottom: 10px;
  color: white;
  font-family: 'LightItalicFont';
}
.portfolio--container--right--center-subTitle{
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: 'Boldfont';
}
.portfolio--container--right--center-text{
  color: white;
  font-family: 'Lightfont';
  text-align: justify;
}


  /*Slideshow*/
.portfolio--container--right--slideshow--slides-img { 
  vertical-align: middle; 
  float: right;
  width:50%;
  padding: 8px 12px 70px;
  max-width: 100%;
  height: auto;
  max-height: 1000px;
} /*ter em conta responsive */

#overlay, .portfolio--container--right-slideshow {
  position: absolute;
  display: none;
  left: 0;
  right: 0; 
}
#overlay{
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  position: fixed;
  top: 0;
  bottom: 0;
}
.portfolio--container--right--slideshow-slides{
  display: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* Slideshow container */
.portfolio--container--right-slideshow {
  transform: translateY(15%);
  position: absolute;
  margin: auto;
  border: 1px solid black;
  border-radius: 25px;
  display: none;
  background-color: white;
  z-index: 3;
  height: auto;
}

/* Next & previous buttons */
.portfolio--container--right--slideshow--icon-prev, .portfolio--container--right--slideshow--icon-next {
  cursor: pointer;
  position: absolute;
  top: 92%;
  width: 50px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  fill:#D2C1FF;
  padding-top: 10px;
}

/* Position the "next button" to the right */
.portfolio--container--right--slideshow--icon-prev{
  left: 47%
}
.portfolio--container--right--slideshow--icon-next {
  right: 47%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.portfolio--container--right--slideshow--icon-prev:hover, .portfolio--container--right--slideshow--icon-next:hover {
  fill:#67527B;
}

/* Caption text */
.portfolio--container--right--slideshow--slides--text-container {
  color: black;
  font-family: 'LightFont';
  font-size: 15px;
  padding: 8px 12px;
  width: 45%;
  bottom: 8px;
  text-align: center;
  height: auto;
}
.portfolio--container--right--slideshow--slides--text--container-title{
  font-family: 'LightItalicFont';
  color: rgb(103,82,123,1);
}
.portfolio--container--right--slideshow--slides--text--container-subTitle{
  font-family: 'BoldFont';
  color: rgb(103,82,123,1);
}
.portfolio--container--right--slideshow--slides--icon-close{
  width: 20px;
  padding: 0 20px 20px 0;
  float: right;
  cursor: pointer;
}
.portfolio--container--right--slideshow--slides--text--container-paragraph{
  font-family: 'LightFont';
  color: rgb(103,82,123,1);
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}
/*RESPONSIVE */
@media only screen and (min-width: 0) and (max-width: 480px){
  .portfolio--container-left{
    width: 100%;
    height: 45%;
  }
  .portfolio--container--left--center--picture-img {
    max-width: 95%;
  }
  .portfolio--container-right{
    width: 100%;
    height: 40%;
  }
  .portfolio-title{
    font-size: 30px;
    padding-top:10px;
  }
  .portfolio--container--right-center{
    max-width: 85%;
  }
  .portfolio--container--right-slideshow{
    transform: translateY(0);
  }
  .portfolio--container--right--center-title, .portfolio--container--right--slideshow--slides--text--container-title{
    font-size: 16px;
    text-align: left;
  }
  .portfolio--container--right--slideshow--slides--text--container-title{
    padding-top: 15px;
  }
  .portfolio--container--right--center-subTitle, .portfolio--container--right--slideshow--slides--text--container-subTitle{
    font-size: 20px;
    text-align: left;
  }
  .portfolio--container--right--center-text{
    font-size: 15px;
    margin-top: 0;
    line-height: 1.5;
  }
  .portfolio--container--right--center--buttons-website{
    margin-right: 15px;
  }
  .portfolio--container--right--center--buttons-website, .portfolio--container--right--center--buttons-caseStudy{
    font-size: 15px;
    padding: 10px 25px 10px 25px;
  }
  .portfolio--container--right--slideshow--slides-img{
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }
  .portfolio--container--right--slideshow--slides--text-container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .portfolio--container--right--slideshow--slides--text--container-paragraph{
    transform: translateY(0%);
    font-size: 15px;
    padding-bottom: 20px;
    text-align: justify;
    line-height: 1.5;
  }
  .portfolio--container--right--slideshow--icon-prev, .portfolio--container--right--slideshow--icon-next{
    top: 90%;
  }
  .portfolio--container--right--slideshow--icon-prev{
    left: 33%;
  }
  .portfolio--container--right--slideshow--icon-next{
    right: 33%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
  .portfolio--container-left{
    width: 100%;
    height: 45%;
  }
  .portfolio--container--left-center{
    top: 60%;
    
  }
  .portfolio--container--left--center--picture-img{
    max-width: 90%;
  }
  .portfolio--container-right{
    width: 100%;
    height: 40%;
  }
  .portfolio--container--right-center{
    max-width: 85%;
  }
  .portfolio-title{
    font-size: 35px;
    padding-top:10px;
  }
  .portfolio--container--right--center-title, .portfolio--container--right--slideshow--slides--text--container-title{
    font-size: 25px;
    text-align: left;
  }
  .portfolio--container--right--slideshow--slides--text--container-title{
    padding-top: 15px;
  }
  .portfolio--container--right--center-subTitle, .portfolio--container--right--slideshow--slides--text--container-subTitle{
    font-size: 30px;
    text-align: left;
  }
  .portfolio--container--right--center-text{
    font-size: 18px;
    margin-top: 0;
    line-height: 1.5;
    padding-bottom: 20px;
    text-align: justify;
  }
  .portfolio--container--right--center--buttons-website{
    margin-right: 20px;
  }
  .portfolio--container--right--center--buttons-website, .portfolio--container--right--center--buttons-caseStudy{
    font-size: 20px;
    padding: 10px 35px 10px 35px;
  }
  .portfolio--container--right--slideshow--slides-img{
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }
  .portfolio--container--right--slideshow--slides--text-container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .portfolio--container--right--slideshow--slides--text--container-paragraph{
    transform: translateY(0%);
    font-size: 18px;
    padding-bottom: 30px;
    text-align: justify;
    line-height: 1.5;
  }
  .portfolio--container--right--slideshow--icon-prev{
    left: 38%;
  }
  .portfolio--container--right--slideshow--icon-next{
    right: 38%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
  .portfolio--container-left{
    width: 100%;
    height: 45%;
  }
  .portfolio--container--left-center{
    text-align: left;
    max-width: 85%;
  }
  .portfolio--container--left--center--picture-img{
    max-width: 95%;
  }
  .portfolio--container-right{
    width: 100%;
    height: 35%;
  }
  .portfolio--container--right-center{
    max-width: 85%;
  }
  .portfolio-title{
    font-size: 45px;
    padding-top: 10px;
    margin-bottom: 30px;
  }
  .portfolio--container--right--slideshow--slides--text--container-title{
    padding-top: 15px;
  }
  .portfolio--container--right--center-title, .portfolio--container--right--slideshow--slides--text--container-title{
    font-size: 30px;
    text-align: left;
  }
  .portfolio--container--right--center-subTitle, .portfolio--container--right--slideshow--slides--text--container-subTitle{
    font-size: 35px;
    text-align: left;
  }
  .portfolio--container--right--center-text{
    font-size: 24px;
    margin-top: 10;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 20px;
  }
  .portfolio--container--right--center--buttons-website{
    margin-right: 50px;
  }
  .portfolio--container--right--center--buttons-website, .portfolio--container--right--center--buttons-caseStudy{
    font-size: 24px;
    padding: 10px 60px 10px 60px;
  }
  .portfolio--container--right--slideshow--slides-img{
    width: 100%;
    padding: 0;
    
  }
  .portfolio--container--right--slideshow--slides--text-container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .portfolio--container--right-slideshow{
    transform: translateY(0%);
  }
  .portfolio--container--right--slideshow--slides--text--container-paragraph{
    transform: translateY(0%);
    font-size: 20px;
    padding-bottom: 30px;
    text-align: justify;
    line-height: 1.5;

  }
  .portfolio--container--right--slideshow--icon-prev, .portfolio--container--right--slideshow--icon-next{
    padding-top: 20px;
  }
  .portfolio--container--right--slideshow--icon-prev{
    left: 42%;
  }
  .portfolio--container--right--slideshow--icon-next{
    right: 42%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px){
  .portfolio--container-left{
    width: 50%;
  }
  .portfolio--container-right{
    width: 50%;
  }
  .portfolio--container--right-center{
    max-width: 90%;
  }
  .portfolio-title{
    font-size: 40px;
    padding-top: 10px;
  }
  .portfolio--container--right--center-title, .portfolio--container--right--slideshow--slides--text--container-title{
    font-size: 25px;
  }
  .portfolio--container--right--center-subTitle, .portfolio--container--right--slideshow--slides--text--container-subTitle{
    font-size: 40px;
  }
  .portfolio--container--right--center-text{
    font-size: 21px;
    margin-top: 0;
    line-height: 1.5;
    padding-bottom: 20px;
  }
  .portfolio--container--right--center--buttons-website, .portfolio--container--right--center--buttons-caseStudy{
    font-size: 21px;
    padding: 10px 45px 10px 45px;
    margin-right: 25px;
  }
  .portfolio--container--right-slideshow{
    height: 65%;
    width: 90%;
  }
  .portfolio--container--right--slideshow--slides-img{
    padding: 0;
    width: 71%;
    position: fixed;
    bottom: 7px;
    left: 28%;
  }
  .portfolio--container--right--slideshow--slides--text-container{
    width: 30%;
    text-align: left;
    margin-left: 15px;
  }
  .portfolio--container--right--slideshow--slides--text--container-paragraph{
    transform: translateY(0%);
    font-size: 20px;
    line-height: 1.5;

  }
  .portfolio--container--right--slideshow--icon-prev{
    left: 43%;
   
  }
  .portfolio--container--right--slideshow--icon-next{
    right: 43%;
  }
  .portfolio--container--right--slideshow--icon-prev, .portfolio--container--right--slideshow--icon-next{
    top: 90%;
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1400px){
  .portfolio--container-left{
    width: 50%;
    
  }
  .portfolio--container-right{
    width: 50%;
    
  }
  .portfolio--container--right-center{
    max-width: 90%;
  }
  .portfolio-title{
    font-size: 50px;
    padding-top: 10px;
  }
  .portfolio--container--right--center-title,.portfolio--container--right--slideshow--slides--text--container-title{
    font-size: 30px;
  }
  
  .portfolio--container--right--center-subTitle, .portfolio--container--right--slideshow--slides--text--container-subTitle{
    font-size: 45px;
  }
   
  .portfolio--container--right--center-text{
    font-size: 23px;
    margin-top: 0;
    line-height: 1.5;
    padding-bottom: 30px;
}
.portfolio--container--right--center--buttons-website{
  text-align: left;
  margin-right: 40px;
}
  .portfolio--container--right--center--buttons-website, .portfolio--container--right--center--buttons-caseStudy{
    font-size: 23px;
    padding: 10px 60px 10px 60px;
    
  }
  .portfolio--container--right-slideshow{
    height: 70%;
    width: 85%;
  }
  .portfolio--container--right--slideshow--slides-img{
    padding: 0;
    width: 69%;
    position: fixed;
    bottom: 20px;
    left: 30%;
  }
  .portfolio--container--right--slideshow--slides--text-container{
    width: 29%;
    text-align: left;
    margin-left: 20px;
    
  }
  .portfolio--container--right--slideshow--slides--text--container-paragraph{
    transform: translateY(0%);
    font-size: 22px;
    line-height: 1.5;
  }
  .portfolio--container--right--slideshow--icon-prev{
    left: 45%;
  }
  .portfolio--container--right--slideshow--icon-next{
    right: 45%;
  }
  .portfolio--container--right--slideshow--icon-prev, .portfolio--container--right--slideshow--icon-next{
    top: 90%;
  }
}
/*ABOUT*/    

@media only screen and (min-width: 1401px){
  .portfolio--container-left{
    width: 50%;
    
  }
  .portfolio--container-right{
    width: 50%;
    
  }
  .portfolio--container--right-center{
    max-width: 90%;
  }
  .portfolio-title{
    font-size: 50px;
    padding-top: 10px;
  }
  .portfolio--container--right--center-title,.portfolio--container--right--slideshow--slides--text--container-title{
    font-size: 30px;
  }
  
  .portfolio--container--right--center-subTitle, .portfolio--container--right--slideshow--slides--text--container-subTitle{
    font-size: 45px;
  }
   
  .portfolio--container--right--center-text{
    font-size: 27px;
    margin-top: 0;
    line-height: 1.5;
    padding-bottom: 30px;
}
.portfolio--container--right--center--buttons-website{
  text-align: left;
  margin-right: 40px;
}
  .portfolio--container--right--center--buttons-website, .portfolio--container--right--center--buttons-caseStudy{
    font-size: 27px;
    padding: 10px 60px 10px 60px;
    
  }
  .portfolio--container--right-slideshow{
    height: 71%;
    width: 80%;
  }
  .portfolio--container--right--slideshow--slides-img{
    padding: 0;
    width: 71%;
    position: fixed;
    bottom: 22px;
    left: 29%;
  }
  .portfolio--container--right-slideshow div:nth-of-type(1) .portfolio--container--right--slideshow--slides-img{
    bottom: -15px;
  }
  .portfolio--container--right--slideshow--slides--text-container{
    width: 30%;
    text-align: left;
    margin-left: 20px;
    
  }
  .portfolio--container--right--slideshow--slides--text--container-paragraph{
    transform: translateY(0%);
    font-size: 24px;
    line-height: 1.5;
  }
  .portfolio--container--right--slideshow--icon-prev{
    left: 45%;
  }
  .portfolio--container--right--slideshow--icon-next{
    right: 45%;
  }
  .portfolio--container--right--slideshow--icon-prev, .portfolio--container--right--slideshow--icon-next{
    top: 88%;
  }
}


.about{
  position: relative;
  /*top: 100%;*/
  /*opacity: 0;*/
  height: auto;
}

.about-center{
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
  .about-title{
    font-family: 'SemiBoldFont';
    margin: 0 auto;
    text-align: center;
    padding: 10px 6px 8px 5px;
    font-size: 50px;
    padding-bottom: 0;
    border-bottom: 1px solid white;
    color: white;
    width: max-content;

  }
  .about--center-subtitle{
    font-family: 'SemiBoldFont';
    font-size: 32px;
    color: white;
  }
  .about--center-text{
    color: white;
    font-family: 'LightFont';
    font-size: 32px;
    line-height: 1.5;
    text-align: justify;
  }
  .about--center-specialSkills{
    font-family: 'LightItalicFont';
    font-style: italic;
    font-size: 32px;
    color: white;
  }
  
  .about--center--iconsGroup-icons{
    width: 140px;
    border-radius: 10px;
    text-align: center;
    margin: 30px;
  }

  @media only screen and (min-width:0px) and (max-width:480px){
    .about-title{
      font-size: 30px;
    }
    .about-center{
      max-width: 85%;
    }
    .about--center-subtitle{
      font-size:20px;
    }
    .about--center-text{
      font-size:16px;
    }
    .about--center-specialSkills{
      font-size:20px;
      }
    .about--center-iconsGroup{
      padding-bottom: 15px;
    }
    .about--center--iconsGroup-icons{
      width: 45px;
      margin: 8px;
    }
  }
  @media only screen and (min-width:481px) and (max-width:768px){
    .about-title{
      font-size: 50px;
    }
    .about-center{
      max-width: 85%;
    }
    .about--center-subtitle{
      font-size:40px;
    }
    .about--center-text{
      font-size:22px;
    }
    .about--center-specialSkills{
      font-size:40px;
    }
    .about--center-iconsGroup{
      padding-bottom: 20px;
    }
    .about--center--iconsGroup-icons{
      width: 65px;
      margin: 10px;
    }
  }
  
  @media only screen and (min-width:769px) and (max-width:1024px){
    .about-title{
      font-size: 50px;
    }
    .about-center{
      max-width: 85%;
    }
    .about--center-subtitle{
      font-size:35px;
    }
    .about--center-text{
      font-size:27px;
    }
    .about--center-specialSkills{
      font-size:35px;
    }
    .about--center-iconsGroup{
      padding-bottom: 20px;
    }
    .about--center--iconsGroup-icons{
      width: 80px;
      margin: 15px;
    }
  }
  @media only screen and (min-width:1025px) and (max-width:1280px){
    .about-title{
      font-size: 40px;
    }
    .about-center{
      max-width: 85%;
    }
    .about--center-subtitle{
      font-size:35px;
    }
    .about--center-text{
      font-size:28px;
      max-width: 90%;
      margin: 0 auto;
    }
    .about--center-specialSkills{
      font-size:40px;
    }
    .about--center-iconsGroup{
      padding-bottom: 20px;
    }
    .about--center--iconsGroup-icons{
      width: 100px;
      margin: 15px;
    }
  }
  @media only screen and (min-width: 1281px){
    .about-title{
      font-size: 50px;
      margin-bottom: 25px;
    }
    .about--center-subtitle{
      font-size: 40px;
      max-width: 80%;
      margin: 0 auto;
    }
    .about--center-text{
      font-size:28px;
      max-width: 80%;
      margin: 0 auto;
    }
    .about--center-specialSkills{
      font-size:40px;
    }
    .about--center-iconsGroup{
      padding-bottom: 20px;
    }
    .about--center--iconsGroup-icons{
      width: 100px;
      margin: 20px;
    }
  }
  
  
  /*FOOTER*/
  .footer{
    align-items: center;
    background-color: #67527B;
    display: flex;
    justify-content: center;
    height: 40%;
  }
  .footer-container-left-letsWork{
    color: rgba(225,214,255,1);
    font-size: 50px;
    font-family: 'BoldFont';
    letter-spacing: 6px;
    margin: 0;
    border-bottom: 1px solid rgba(225,214,255,1);
    width: max-content;
  }
  .footer-container--right--contacts-icon{
    vertical-align: middle;
  }
  .footer-container--right--contacts-email,.footer-container--right--contacts-phone{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    vertical-align: middle;
    color: rgba(225,214,255,1);
    font-family: 'ExtraLightFont';
  }
  @media only screen and (min-width:0px) and (max-width:480px){
    .footer{
      display: block;
      height: auto;
      padding-bottom: 25px;
    }
    .footer-container-left{
      padding-top: 25px;
      margin-left: 25px;
    }
    .footer-container-left-letsWork{
      font-size: 35px;
    }
    .footer-container--right-contacts{
      margin: 10px;
      margin-left: 20px;
    }
    .footer-container--right--contacts-icon{
      margin: 5px;
      width: 12px;
    }
    .footer-container--right--contacts-email,.footer-container--right--contacts-phone{
      font-size: 18px;
      margin: 0px;
    }
  }
  @media only screen and (min-width:481px) and (max-width:768px){
    .footer{
      display: block;
      height: auto;
      padding-bottom: 35px;

    }
    .footer-container-left{
      width: 301px;
      padding-top: 35px;
      margin-left: 50px;
    }
    .footer-container-left-letsWork{
      font-size: 45px;
    }
    .footer-container--right-contacts{
      margin: 10px;
      margin-left: 50px;
    }
    .footer-container--right--contacts-icon{
      margin: 10px 5px 10px 0;
      width: 15px;
    }
    .footer-container--right--contacts-email,.footer-container--right--contacts-phone{
      font-size: 25px;
      margin: 0px;
    }
  }
  @media only screen and (min-width:769px) and (max-width:1024px){
      .footer{
        display: flex;
        height: auto;
      }
      .footer-container-left{
        width: 334px;
        padding: 100px 0px 100px 10px;
      }
      .footer-container-left-letsWork{
        font-size: 45px;
        /*margin-top: -10px; EXPERIMENTAR PARA ALINHAR*/
      }
      .footer-container--right-contacts{
        margin: 0px 0px 10px 10px;
        
      }
      .footer-container--right--contacts-icon{
        margin: 5px;
        width: 20px;
      }
      .footer-container--right--contacts-email, .footer-container--right--contacts-phone{
        font-size: 25px;
        margin: 0px;
      }
    }
    @media only screen and (min-width:1025px) and (max-width:1280px){
      .footer{
        display: flex;
        height: auto;
      }
      .footer-container-left{
        width: 368px;
        padding: 130px 0px 130px 10px;
      }
      .footer-container-left-letsWork{
        font-size: 55px;
      }
      .footer-container--right-contacts{
        margin: 0px 0px 10px 45px;
      }
      .footer-container--right--contacts-icon{
        margin: 10px;
        width: 30px;
      }
      .footer-container--right--contacts-email, .footer-container--right--contacts-phone{
        font-size: 30px;
        margin: 0px;
      }
    }  
    @media only screen and (min-width:1281px) {
      .footer{
        display: flex;
        height: auto;
      }
      .footer-container-left{
        width: 435px;
        padding: 160px 0px 160px 10px;
      }
      .footer-container-left-letsWork{
        font-size: 65px;
      }
      .footer-container--right-contacts{
        margin: 0px 0px 10px 60px;
      }
      .footer-container--right--contacts-icon{
        margin: 10px;
        width: 35px;
      }
      .footer-container--right--contacts-email, .footer-container--right--contacts-phone{
        font-size: 35px;
        margin: 0px;
      }
    }  
 
/* demo styles */
body { margin:0px; padding: 0px; }
/*p, p a { font-size: 12px;text-align: center; color: #888; }*/
